.dashboard-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dashboard-screen__container {
  width: 900px;
  padding: 100px 0;
}

.dashboard-screen__projects:first-of-type {
  margin-bottom: 4rem;
}

.dashboard-screen__section-title {
  margin-bottom: .8rem;
  padding: .5rem 1rem;
  font-weight: 600;
  border-bottom: 2px solid #e3e3e3;
}


.dashboard__habit-tiles {
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}