.login__screen {
  height: 100%;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginScreen__form-container {
  width: 500px;
  height: 400px;
  padding: 50px 60px 70px 60px;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.loginScreen__form-container h1 {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 500;
}

.loginScreen__form-container > form {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.loginScreen__form-container > form > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.loginScreen__form-container > form > div > label {
  color: var(--primary-color);
} 

.loginScreen__form-container > form > div > input {
  margin-top: 1.3rem;
  padding: .6rem;
  font-size: 1rem;
  background-color: transparent;
  border: solid 1px var(--primary-color);
  border-radius: 8px;
}

.loginScreen__form-container > form > div > input:focus {
  background-color: #fff;
  border: solid 1px var(--accent-color);
  outline: none;
}


#login__btn {
  margin-top: 20px;
  padding: .7rem 0;
  background-color: var(--primary-color);
  color: #fff;
  border: solid 1px var(--primary-color);
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-size: 1rem;
}

#login__btn:hover {
  color: var(--primary-color);
  background-color: transparent;
}

#login-form__signup-btn {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1rem;
  cursor: pointer;
  transition: .3s all ease;
}

#signup-redirect {
  margin-top: 20px;
}

#login-form__signup-btn:hover {
  color: var(--primary-color);
  font-weight: 600;
}
