.member-card {
  width: 180px;
  height: 70px;
  padding: .8rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  background-color: var(--accent-color);
  border-radius: 8px;
  transition: all .3s ease-in-out;
}

.member-card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.member-card__icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #fff;
  border-radius: 50%;
}

.member-card__checkbox input {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.member-card__name p {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.member-name__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}