.project-tile-container {
  text-decoration: none;
  min-width: 155px;
  height: 225px;
  padding: .8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.project-tile-container:hover {
  background-color: var(--tertiary-color);
  transform: translateY(-8px);
}
.project-tile {
  height: 130px;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 15px;
}
.project-tile span i{
  font-size: 2.5rem;
  color: #fff;
}
.project-tile-container h4 {
  text-decoration: none;
  margin-top: .5rem;
  font-weight: 500;
  color: #000;
}

